/* Text Color Tokens */

:root {
  --do-text-title: var(--do-color-dark-400);
  --do-text-caption: var(--do-color-zinc-500);
  --do-text-disable: var(--do-color-stone-300);
  --do-text-placeholder: var(--do-color-gray-400);
}

/* 深色主题 */
[data-theme="dark"] {
  --do-text-title: var(--do-color-neutral-50);
  --do-text-caption: var(--do-color-neutral-400);
  --do-text-disbale: var(--do-color-neutral-600);
  --do-text-placeholder: var(--do-color-neutral-500);
}
