  /* Red */
  $color-red-50: #FCF3F3;
  $color-red-50-raw: 252, 243, 243;
  $color-red-100: #FAE3E3;
  $color-red-100-raw: 250, 227, 227;
  $color-red-200: #F7CBCB;
  $color-red-200-raw: 247, 203, 203;
  $color-red-300: #F3A6A4;
  $color-red-300-raw: 243, 166, 164;
  $color-red-400: #ED6D6B;
  $color-red-400-raw: 237, 109, 107;
  $color-red-500: #E5403F;
  $color-red-500-raw: 229, 64, 63;
  $color-red-600: #D21E1F;
  $color-red-600-raw: 210, 30, 31;
  $color-red-700: #B01918;
  $color-red-700-raw: 176, 25, 24;
  $color-red-800: #901C1A;
  $color-red-800-raw: 144, 28, 26;
  $color-red-900: #76201E;
  $color-red-900-raw: 118, 32, 30;
  $color-red-950: #2C161A;
  $color-red-950-raw: 44, 22, 26;

  /* Orange */
  $color-orange-50: #FEF7EE;
  $color-orange-50-raw: 254, 247, 238;
  $color-orange-100: #FCEDD7;
  $color-orange-100-raw: 252, 237, 215;
  $color-orange-200: #F8D7AC;
  $color-orange-200-raw: 248, 215, 172;
  $color-orange-300: #F6BA74;
  $color-orange-300-raw: 246, 186, 116;
  $color-orange-400: #F18E2F;
  $color-orange-400-raw: 241, 142, 47;
  $color-orange-500: #F07100;
  $color-orange-500-raw: 240, 113, 0;
  $color-orange-600: #E15500;
  $color-orange-600-raw: 225, 85, 0;
  $color-orange-700: #B93F04;
  $color-orange-700-raw: 185, 63, 4;
  $color-orange-800: #923512;
  $color-orange-800-raw: 146, 53, 18;
  $color-orange-900: #742F15;
  $color-orange-900-raw: 116, 47, 21;
  $color-orange-950: #3E1609;
  $color-orange-950-raw: 62, 22, 9;

  /* Amber */
  $color-amber-50: #FEFBE7;
  $color-amber-50-raw: 254, 251, 231;
  $color-amber-100: #FEF3C7;
  $color-amber-100-raw: 254, 243, 199;
  $color-amber-200: #FDE68A;
  $color-amber-200-raw: 253, 230, 138;
  $color-amber-300: #FCD34D;
  $color-amber-300-raw: 252, 211, 77;
  $color-amber-400: #FBBF24;
  $color-amber-400-raw: 251, 191, 36;
  $color-amber-500: #F59E0B;
  $color-amber-500-raw: 245, 158, 11;
  $color-amber-600: #D97706;
  $color-amber-600-raw: 217, 119, 6;
  $color-amber-700: #B45309;
  $color-amber-700-raw: 180, 83, 9;
  $color-amber-800: #92400E;
  $color-amber-800-raw: 146, 64, 14;
  $color-amber-900: #78350F;
  $color-amber-900-raw: 120, 53, 15;
  $color-amber-950: #451A03;
  $color-amber-950-raw: 69, 26, 3;

  /* Yellow */
  $color-yellow-50: #FEFCE8;
  $color-yellow-50-raw: 254, 252, 232;
  $color-yellow-100: #FEF9C3;
  $color-yellow-100-raw: 254, 249, 195;
  $color-yellow-200: #FEF08A;
  $color-yellow-200-raw: 254, 240, 138;
  $color-yellow-300: #FDE047;
  $color-yellow-300-raw: 253, 224, 71;
  $color-yellow-400: #FACC15;
  $color-yellow-400-raw: 250, 204, 21;
  $color-yellow-500: #EAB308;
  $color-yellow-500-raw: 234, 179, 8;
  $color-yellow-600: #CA8A04;
  $color-yellow-600-raw: 202, 138, 4;
  $color-yellow-700: #A16207;
  $color-yellow-700-raw: 161, 98, 7;
  $color-yellow-800: #854D0E;
  $color-yellow-800-raw: 133, 77, 14;
  $color-yellow-900: #713F12;
  $color-yellow-900-raw: 113, 63, 18;
  $color-yellow-950: #422006;
  $color-yellow-950-raw: 66, 32, 6;

  /* Lime */
  $color-lime-50: #F7FEE7;
  $color-lime-50-raw: 247, 254, 231;
  $color-lime-100: #F0FDC8;
  $color-lime-100-raw: 240, 253, 200;
  $color-lime-200: #E2FBA8;
  $color-lime-200-raw: 226, 251, 168;
  $color-lime-300: #C8F378;
  $color-lime-300-raw: 200, 243, 120;
  $color-lime-400: #A5E944;
  $color-lime-400-raw: 165, 233, 68;
  $color-lime-500: #84CC16;
  $color-lime-500-raw: 132, 204, 22;
  $color-lime-600: #65A30D;
  $color-lime-600-raw: 101, 163, 13;
  $color-lime-700: #4D7C0F;
  $color-lime-700-raw: 77, 124, 15;
  $color-lime-800: #3F6212;
  $color-lime-800-raw: 63, 98, 18;
  $color-lime-900: #365314;
  $color-lime-900-raw: 54, 83, 20;
  $color-lime-950: #1A2E05;
  $color-lime-950-raw: 26, 46, 5;

  /* Green */
  $color-green-50: #F3FDF5;
  $color-green-50-raw: 243, 253, 245;
  $color-green-100: #E2FBE8;
  $color-green-100-raw: 226, 251, 232;
  $color-green-200: #C7F6D1;
  $color-green-200-raw: 199, 246, 209;
  $color-green-300: #9BEFAC;
  $color-green-300-raw: 155, 239, 172;
  $color-green-400: #69DC7B;
  $color-green-400-raw: 105, 220, 123;
  $color-green-500: #52C55B;
  $color-green-500-raw: 82, 197, 91;
  $color-green-600: #41A347;
  $color-green-600-raw: 65, 163, 71;
  $color-green-700: #35803C;
  $color-green-700-raw: 53, 128, 60;
  $color-green-800: #2D6534;
  $color-green-800-raw: 45, 101, 52;
  $color-green-900: #27532E;
  $color-green-900-raw: 39, 83, 46;
  $color-green-950: #122D17;
  $color-green-950-raw: 18, 45, 23;

  /* Emerald */
  $color-emerald-50: #ECFDF5;
  $color-emerald-50-raw: 236, 253, 245;
  $color-emerald-100: #D1FAE5;
  $color-emerald-100-raw: 209, 250, 229;
  $color-emerald-200: #A7F3D0;
  $color-emerald-200-raw: 167, 243, 208;
  $color-emerald-300: #6EE7B7;
  $color-emerald-300-raw: 110, 231, 183;
  $color-emerald-400: #34D399;
  $color-emerald-400-raw: 52, 211, 153;
  $color-emerald-500: #10B981;
  $color-emerald-500-raw: 16, 185, 129;
  $color-emerald-600: #059669;
  $color-emerald-600-raw: 5, 150, 105;
  $color-emerald-700: #047857;
  $color-emerald-700-raw: 4, 120, 87;
  $color-emerald-800: #065F46;
  $color-emerald-800-raw: 6, 95, 70;
  $color-emerald-900: #064E3B;
  $color-emerald-900-raw: 6, 78, 59;
  $color-emerald-950: #022C22;
  $color-emerald-950-raw: 2, 44, 34;

  /* Teal */
  $color-teal-50: #F0FDFA;
  $color-teal-50-raw: 240, 253, 250;
  $color-teal-100: #CCFBF1;
  $color-teal-100-raw: 204, 251, 241;
  $color-teal-200: #99F6E4;
  $color-teal-200-raw: 153, 246, 228;
  $color-teal-300: #5EEAD4;
  $color-teal-300-raw: 94, 234, 212;
  $color-teal-400: #2DD4BF;
  $color-teal-400-raw: 45, 212, 191;
  $color-teal-500: #14B8A6;
  $color-teal-500-raw: 20, 184, 166;
  $color-teal-600: #0D9488;
  $color-teal-600-raw: 13, 148, 136;
  $color-teal-700: #0F766E;
  $color-teal-700-raw: 15, 118, 110;
  $color-teal-800: #115E59;
  $color-teal-800-raw: 17, 94, 89;
  $color-teal-900: #134E4A;
  $color-teal-900-raw: 19, 78, 74;
  $color-teal-950: #042F2E;
  $color-teal-950-raw: 4, 47, 46;

  /* Cyan */
  $color-cyan-50: #ECFEFF;
  $color-cyan-50-raw: 236, 254, 255;
  $color-cyan-100: #CFFAFE;
  $color-cyan-100-raw: 207, 250, 254;
  $color-cyan-200: #A5F3FC;
  $color-cyan-200-raw: 165, 243, 252;
  $color-cyan-300: #67E8F9;
  $color-cyan-300-raw: 103, 232, 249;
  $color-cyan-400: #22D3EE;
  $color-cyan-400-raw: 34, 211, 238;
  $color-cyan-500: #06B6D4;
  $color-cyan-500-raw: 6, 182, 212;
  $color-cyan-600: #0891B2;
  $color-cyan-600-raw: 8, 145, 178;
  $color-cyan-700: #0E7490;
  $color-cyan-700-raw: 14, 116, 144;
  $color-cyan-800: #155E75;
  $color-cyan-800-raw: 21, 94, 117;
  $color-cyan-900: #164E63;
  $color-cyan-900-raw: 22, 78, 99;
  $color-cyan-950: #083344;
  $color-cyan-950-raw: 8, 51, 68;

  /* Sky */
  $color-sky-50: #F0F9FF;
  $color-sky-50-raw: 240, 249, 255;
  $color-sky-100: #E0F2FE;
  $color-sky-100-raw: 224, 242, 254;
  $color-sky-200: #BAE6FD;
  $color-sky-200-raw: 186, 230, 253;
  $color-sky-300: #7DD3FC;
  $color-sky-300-raw: 125, 211, 252;
  $color-sky-400: #38BDF8;
  $color-sky-400-raw: 56, 189, 248;
  $color-sky-500: #0EA5E9;
  $color-sky-500-raw: 14, 165, 233;
  $color-sky-600: #0284C7;
  $color-sky-600-raw: 2, 132, 199;
  $color-sky-700: #0369A1;
  $color-sky-700-raw: 3, 105, 161;
  $color-sky-800: #075985;
  $color-sky-800-raw: 7, 89, 133;
  $color-sky-900: #0C4A6E;
  $color-sky-900-raw: 12, 74, 110;
  $color-sky-950: #082F49;
  $color-sky-950-raw: 8, 47, 73;

  /* Blue */
  $color-blue-50: #F0F6FE;
  $color-blue-50-raw: 240, 246, 254;
  $color-blue-100: #DEEAFD;
  $color-blue-100-raw: 222, 234, 253;
  $color-blue-200: #C4DBFD;
  $color-blue-200-raw: 196, 219, 253;
  $color-blue-300: #9BC5FF;
  $color-blue-300-raw: 155, 197, 255;
  $color-blue-400: #67A2FF;
  $color-blue-400-raw: 103, 162, 255;
  $color-blue-500: #4680FF;
  $color-blue-500-raw: 70, 128, 255;
  $color-blue-600: #2F60F5;
  $color-blue-600-raw: 47, 96, 245;
  $color-blue-700: #254BE0;
  $color-blue-700-raw: 37, 75, 224;
  $color-blue-800: #243FB4;
  $color-blue-800-raw: 36, 63, 180;
  $color-blue-900: #243A8B;
  $color-blue-900-raw: 36, 58, 139;
  $color-blue-950: #1A2554;
  $color-blue-950-raw: 26, 37, 84;

  /* Indigo */
  $color-indigo-50: #EEF2FF;
  $color-indigo-50-raw: 238, 242, 255;
  $color-indigo-100: #E0E7FF;
  $color-indigo-100-raw: 224, 231, 255;
  $color-indigo-200: #C7D2FE;
  $color-indigo-200-raw: 199, 210, 254;
  $color-indigo-300: #A5B4FC;
  $color-indigo-300-raw: 165, 180, 252;
  $color-indigo-400: #818CF8;
  $color-indigo-400-raw: 129, 140, 248;
  $color-indigo-500: #6366F1;
  $color-indigo-500-raw: 99, 102, 241;
  $color-indigo-600: #4F46E5;
  $color-indigo-600-raw: 79, 70, 229;
  $color-indigo-700: #4338CA;
  $color-indigo-700-raw: 67, 56, 202;
  $color-indigo-800: #3730A3;
  $color-indigo-800-raw: 55, 48, 163;
  $color-indigo-900: #312E81;
  $color-indigo-900-raw: 49, 46, 129;
  $color-indigo-950: #1E1B4B;
  $color-indigo-950-raw: 30, 27, 75;

  /* Violet */
  $color-violet-50: #F5F3FF;
  $color-violet-50-raw: 245, 243, 255;
  $color-violet-100: #EDE9FE;
  $color-violet-100-raw: 237, 233, 254;
  $color-violet-200: #DDD6FE;
  $color-violet-200-raw: 221, 214, 254;
  $color-violet-300: #C4B5FD;
  $color-violet-300-raw: 196, 181, 253;
  $color-violet-400: #A78BFA;
  $color-violet-400-raw: 167, 139, 250;
  $color-violet-500: #8B5CF6;
  $color-violet-500-raw: 139, 92, 246;
  $color-violet-600: #7C3AED;
  $color-violet-600-raw: 124, 58, 237;
  $color-violet-700: #6D28D9;
  $color-violet-700-raw: 109, 40, 217;
  $color-violet-800: #5B21B6;
  $color-violet-800-raw: 91, 33, 182;
  $color-violet-900: #4C1D95;
  $color-violet-900-raw: 76, 29, 149;
  $color-violet-950: #2E1065;
  $color-violet-950-raw: 46, 16, 101;

  /* Purple */
  $color-purple-50: #F9F6FF;
  $color-purple-50-raw: 249, 246, 255;
  $color-purple-100: #F1E9FE;
  $color-purple-100-raw: 241, 233, 254;
  $color-purple-200: #E6D6FE;
  $color-purple-200-raw: 230, 214, 254;
  $color-purple-300: #D3B5FF;
  $color-purple-300-raw: 211, 181, 255;
  $color-purple-400: #B780FF;
  $color-purple-400-raw: 183, 128, 255;
  $color-purple-500: #A052FF;
  $color-purple-500-raw: 160, 82, 255;
  $color-purple-600: #8B2BF4;
  $color-purple-600-raw: 139, 43, 244;
  $color-purple-700: #761DD5;
  $color-purple-700-raw: 118, 29, 213;
  $color-purple-800: #6420AC;
  $color-purple-800-raw: 100, 32, 172;
  $color-purple-900: #521F88;
  $color-purple-900-raw: 82, 31, 136;
  $color-purple-950: #360B64;
  $color-purple-950-raw: 54, 11, 100;

  /* Fuchsia */
  $color-fuchsia-50: #FDF4FF;
  $color-fuchsia-50-raw: 253, 244, 255;
  $color-fuchsia-100: #FCE7F3;
  $color-fuchsia-100-raw: 252, 231, 243;
  $color-fuchsia-200: #FBCFE8;
  $color-fuchsia-200-raw: 251, 207, 232;
  $color-fuchsia-300: #F9A8D4;
  $color-fuchsia-300-raw: 249, 168, 212;
  $color-fuchsia-400: #F472B6;
  $color-fuchsia-400-raw: 244, 114, 182;
  $color-fuchsia-500: #EC4899;
  $color-fuchsia-500-raw: 236, 72, 153;
  $color-fuchsia-600: #DB2777;
  $color-fuchsia-600-raw: 219, 39, 119;
  $color-fuchsia-700: #BE185D;
  $color-fuchsia-700-raw: 190, 24, 93;
  $color-fuchsia-800: #9D174D;
  $color-fuchsia-800-raw: 157, 23, 77;
  $color-fuchsia-900: #831843;
  $color-fuchsia-900-raw: 131, 24, 67;
  $color-fuchsia-950: #500724;
  $color-fuchsia-950-raw: 80, 7, 36;

  /* Pink */
  $color-pink-50: #FDF2F8;
  $color-pink-50-raw: 253, 242, 248;
  $color-pink-100: #FCE7F3;
  $color-pink-100-raw: 252, 231, 243;
  $color-pink-200: #FBCFE8;
  $color-pink-200-raw: 251, 207, 232;
  $color-pink-300: #F9A8D4;
  $color-pink-300-raw: 249, 168, 212;
  $color-pink-400: #F472B6;
  $color-pink-400-raw: 244, 114, 182;
  $color-pink-500: #EC4899;
  $color-pink-500-raw: 236, 72, 153;
  $color-pink-600: #DB2777;
  $color-pink-600-raw: 219, 39, 119;
  $color-pink-700: #BE185D;
  $color-pink-700-raw: 190, 24, 93;
  $color-pink-800: #9D174D;
  $color-pink-800-raw: 157, 23, 77;
  $color-pink-900: #831843;
  $color-pink-900-raw: 131, 24, 67;
  $color-pink-950: #500724;
  $color-pink-950-raw: 80, 7, 36;

  /* Rose */
  $color-rose-50: #FFF1F2;
  $color-rose-50-raw: 255, 241, 242;
  $color-rose-100: #FFE4E6;
  $color-rose-100-raw: 255, 228, 230;
  $color-rose-200: #FECDD3;
  $color-rose-200-raw: 254, 205, 211;
  $color-rose-300: #FDA4AF;
  $color-rose-300-raw: 253, 164, 175;
  $color-rose-400: #FB7185;
  $color-rose-400-raw: 251, 113, 133;
  $color-rose-500: #F43F5E;
  $color-rose-500-raw: 244, 63, 94;
  $color-rose-600: #E11D48;
  $color-rose-600-raw: 225, 29, 72;
  $color-rose-700: #BE123C;
  $color-rose-700-raw: 190, 18, 60;
  $color-rose-800: #9F1239;
  $color-rose-800-raw: 159, 18, 57;
  $color-rose-900: #881337;
  $color-rose-900-raw: 136, 19, 55;
  $color-rose-950: #4C0519;
  $color-rose-950-raw: 76, 5, 25;

  /* Slate */
  $color-slate-50: #F8FAFC;
  $color-slate-50-raw: 248, 250, 252;
  $color-slate-100: #F1F5F9;
  $color-slate-100-raw: 241, 245, 249;
  $color-slate-200: #E2E8F0;
  $color-slate-200-raw: 226, 232, 240;
  $color-slate-300: #CBD5E1;
  $color-slate-300-raw: 203, 213, 225;
  $color-slate-400: #94A3B8;
  $color-slate-400-raw: 148, 163, 184;
  $color-slate-500: #64748B;
  $color-slate-500-raw: 100, 116, 139;
  $color-slate-600: #475569;
  $color-slate-600-raw: 71, 85, 105;
  $color-slate-700: #334155;
  $color-slate-700-raw: 51, 65, 85;
  $color-slate-800: #1E293B;
  $color-slate-800-raw: 30, 41, 59;
  $color-slate-900: #0F172A;
  $color-slate-900-raw: 15, 23, 42;
  $color-slate-950: #020617;
  $color-slate-950-raw: 2, 6, 23;

  /* Gray */
  $color-gray-50: #F9FAFB;
  $color-gray-50-raw: 249, 250, 251;
  $color-gray-100: #F3F4F6;
  $color-gray-100-raw: 243, 244, 246;
  $color-gray-200: #E6E7EB;
  $color-gray-200-raw: 230, 231, 235;
  $color-gray-300: #D2D5DB;
  $color-gray-300-raw: 210, 213, 219;
  $color-gray-400: #9BA1AE;
  $color-gray-400-raw: 155, 161, 174;
  $color-gray-500: #6C7281;
  $color-gray-500-raw: 108, 114, 129;
  $color-gray-600: #4C5564;
  $color-gray-600-raw: 76, 85, 100;
  $color-gray-700: #384152;
  $color-gray-700-raw: 56, 65, 82;
  $color-gray-800: #202938;
  $color-gray-800-raw: 32, 41, 56;
  $color-gray-900: #121827;
  $color-gray-900-raw: 18, 24, 39;
  $color-gray-950: #040711;
  $color-gray-950-raw: 4, 7, 17;

  /* Zinc */
  $color-zinc-50: #FAFAFA;
  $color-zinc-50-raw: 250, 250, 250;
  $color-zinc-100: #F4F4F5;
  $color-zinc-100-raw: 244, 244, 245;
  $color-zinc-200: #E4E4E7;
  $color-zinc-200-raw: 228, 228, 231;
  $color-zinc-300: #D4D4D8;
  $color-zinc-300-raw: 212, 212, 216;
  $color-zinc-400: #A1A1AA;
  $color-zinc-400-raw: 161, 161, 170;
  $color-zinc-500: #71717A;
  $color-zinc-500-raw: 113, 113, 122;
  $color-zinc-600: #52525B;
  $color-zinc-600-raw: 82, 82, 91;
  $color-zinc-700: #3F3F46;
  $color-zinc-700-raw: 63, 63, 70;
  $color-zinc-800: #27272A;
  $color-zinc-800-raw: 39, 39, 42;
  $color-zinc-900: #18181B;
  $color-zinc-900-raw: 24, 24, 27;
  $color-zinc-950: #09090B;
  $color-zinc-950-raw: 9, 9, 11;

  /* Neutral */
  $color-neutral-50: #FAFAFA;
  $color-neutral-50-raw: 250, 250, 250;
  $color-neutral-100: #F5F5F5;
  $color-neutral-100-raw: 245, 245, 245;
  $color-neutral-200: #E5E5E5;
  $color-neutral-200-raw: 229, 229, 229;
  $color-neutral-300: #D4D4D4;
  $color-neutral-300-raw: 212, 212, 212;
  $color-neutral-400: #A3A3A3;
  $color-neutral-400-raw: 163, 163, 163;
  $color-neutral-500: #737373;
  $color-neutral-500-raw: 115, 115, 115;
  $color-neutral-600: #525252;
  $color-neutral-600-raw: 82, 82, 82;
  $color-neutral-700: #404040;
  $color-neutral-700-raw: 64, 64, 64;
  $color-neutral-800: #262626;
  $color-neutral-800-raw: 38, 38, 38;
  $color-neutral-900: #171717;
  $color-neutral-900-raw: 23, 23, 23;
  $color-neutral-950: #0A0A0A;
  $color-neutral-950-raw: 10, 10, 10;

  /* Stone */
  $color-stone-50: #FAFAF9;
  $color-stone-50-raw: 250, 250, 249;
  $color-stone-100: #F5F5F4;
  $color-stone-100-raw: 245, 245, 244;
  $color-stone-200: #E7E5E4;
  $color-stone-200-raw: 231, 229, 228;
  $color-stone-300: #D6D3D1;
  $color-stone-300-raw: 214, 211, 209;
  $color-stone-400: #A8A29E;
  $color-stone-400-raw: 168, 162, 158;
  $color-stone-500: #78716C;
  $color-stone-500-raw: 120, 113, 108;
  $color-stone-600: #57534E;
  $color-stone-600-raw: 87, 83, 78;
  $color-stone-700: #44403C;
  $color-stone-700-raw: 68, 64, 60;
  $color-stone-800: #292524;
  $color-stone-800-raw: 41, 37, 36;
  $color-stone-900: #1C1917;
  $color-stone-900-raw: 28, 25, 23;
  $color-stone-950: #0C0A09;
  $color-stone-950-raw: 12, 10, 9;

  /* Black and White */
  $color-black: #000;
  $color-black-raw: 0, 0, 0;
  $color-white: #FFF;
  $color-white-raw: 255, 255, 255;

  /* Light */
  $color-light-50: #FDFDFD;
  $color-light-50-raw: 253, 253, 253;
  $color-light-100: #FCFCFC;
  $color-light-100-raw: 252, 252, 252;
  $color-light-200: #FAFAFA;
  $color-light-200-raw: 250, 250, 250;
  $color-light-300: #F8F9FA;
  $color-light-300-raw: 248, 249, 250;
  $color-light-400: #F6F6F6;
  $color-light-400-raw: 246, 246, 246;
  $color-light-500: #F2F2F2;
  $color-light-500-raw: 242, 242, 242;
  $color-light-600: #F2F3F5;
  $color-light-600-raw: 242, 243, 245;
  $color-light-700: #EAECEF;
  $color-light-700-raw: 234, 236, 239;
  $color-light-800: #DFE2E6;
  $color-light-800-raw: 223, 226, 230;
  $color-light-900: #DEE1E3;
  $color-light-900-raw: 222, 225, 227;
  $color-light-950: #D9DCDF;
  $color-light-950-raw: 217, 220, 223;

  /* Dark */
  $color-dark-50: #4A4A4A;
  $color-dark-50-raw: 74, 74, 74;
  $color-dark-100: #3C3C3C;
  $color-dark-100-raw: 60, 60, 60;
  $color-dark-200: #323232;
  $color-dark-200-raw: 50, 50, 50;
  $color-dark-300: #2D2D2D;
  $color-dark-300-raw: 45, 45, 45;
  $color-dark-400: #222;
  $color-dark-400-raw: 34, 34, 34;
  $color-dark-500: #1F1F1F;
  $color-dark-500-raw: 31, 31, 31;
  $color-dark-600: #1C1C1E;
  $color-dark-600-raw: 28, 28, 30;
  $color-dark-700: #1B1B1B;
  $color-dark-700-raw: 27, 27, 27;
  $color-dark-800: #181818;
  $color-dark-800-raw: 24, 24, 24;
  $color-dark-900: #0F0F0F;
  $color-dark-900-raw: 15, 15, 15;
  $color-dark-950: #080808;
  $color-dark-950-raw: 8, 8, 8;