/* stylelint-disable no-descending-specificity */
/* stylelint-disable no-duplicate-selectors */

/* Reset.css - Based on Tailwind CSS preflight.css */

/* 1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4) */
*,
::before,
::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Allow adding a border to an element by just adding a border-width. */
*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: currentcolor;
}

/* 4. Add accessible line-height */
html {
  line-height: 1.5;
}

/* 5. Improve text rendering */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  overflow-wrap: break-word;
}

/* 9. Create a root stacking context */
#root {
  isolation: isolate;
}

/* 10. Reset list styles */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* 11. Reset link styles */
a {
  color: inherit;
  text-decoration: inherit;
}

/* 12. Reset table styles */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 13. Reset button styles */
button {
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

/* 14. Reset input styles */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea {
  appearance: none;
  background-color: #fff;
  border-radius: 0;
}

/* 15. Reset select styles */
select {
  appearance: none;
}

/* 16. Reset checkbox and radio styles */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
}

/* 17. Reset progress styles */
progress {
  appearance: none;
}

/* 18. Reset textarea resize */
textarea {
  resize: vertical;
}

/* 19. Reset input autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0 30px white inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 20. Reset button focus styles */
button:focus,
button:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* 21. Reset input focus styles */
input:focus,
textarea:focus,
select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

/* 22. Reset iframe styles */
iframe {
  border: 0;
}

/* 23. Reset fieldset styles */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* 24. Reset legend styles */
legend {
  border: 0;
  padding: 0;
}

/* 25. Reset hr styles */
hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
  overflow: visible;
}

/* 26. Reset details and summary styles */
details {
  display: block;
}

/* 27. Reset summary styles */
summary {
  display: list-item;
}

/* 28. Reset dialog styles */
dialog {
  background-color: white;
  border: solid;
  color: inherit;
  display: block;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: fit-content;
}

/* 29. Reset dialog::backdrop styles */
dialog::backdrop {
  background: rgb(0 0 0 / 50%);
}

/* 30. Reset blockquote styles */
blockquote {
  margin: 0;
}

/* 31. Reset code styles */
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

/* 32. Reset kbd styles */
kbd {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

/* 33. Reset pre styles */
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

/* 34. Reset sup and sub styles */
sup,
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* 35. Reset small styles */
small {
  font-size: 80%;
}

/* 36. Reset strong styles */
strong {
  font-weight: bolder;
}

/* 37. Reset mark styles */
mark {
  background-color: #f3f469;
  color: #000;
}

/* 38. Reset abbr styles */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/* 39. Reset figure styles */
figure {
  margin: 0;
}

/* 40. Reset figcaption styles */
figcaption {
  color: #6b7280;
  font-size: 0.875em;
  line-height: 1.25em;
}

/* 41. Reset data styles */
data {
  display: inline;
}

/* 42. Reset time styles */
time {
  display: inline;
}

/* 43. Reset meter styles */
meter {
  appearance: none;
}

/* 44. Reset canvas styles */
canvas {
  display: inline-block;
}

/* 45. Reset output styles */
output {
  display: inline;
}

/* 46. Reset optgroup styles */
optgroup {
  font-weight: bold;
}

/* 47. Reset ruby styles */
ruby {
  display: inline;
}

/* 48. Reset rt styles */
rt {
  font-size: 50%;
  line-height: 1;
  text-align: left;
  vertical-align: text-top;
}

/* 49. Reset rp styles */
rp {
  display: none;
}

/* 50. Reset bdo styles */
bdo {
  unicode-bidi: bidi-override;
}

/* 51. Reset wbr styles */
wbr {
  display: inline-block;
  width: 0;
}

/* 52. Reset template styles */
template {
  display: none;
}

/* 53. Reset slot styles */
slot {
  display: contents;
}

/* 54. Reset summary outline styles */
summary:focus {
  outline: none;
}